[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/sjang1594/imgui.git
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/sjang1594/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/sjang1594/glm.git
